html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Alef', sans-serif;
  background-color: #f0fff4;
}

body > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}
