@import './tailwind.css';

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Alef', sans-serif;
  background-color: theme('colors.green-100');
}
